<div class="welcome-card">
	<small style="color: gray;"><%= "discover things to do".upcase %></small>
</div>

<div class="card text-center" id="discover-nav">
  <ul class="nav nav-tabs discovery" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Health</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Exploration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Relationship</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">One</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Two</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Three</div>
  </div>
</div>

<% @events["events"].reverse.each do |event| %>
  <div class="card-deck" style="display: flex;">
    <div class="card">
      <img class="card-img-top pb-3" src=<%= "#{event["image_url"]}" %> alt="Card image cap" style="height: 200px;">
      <small class="pl-2 pr-2">
        <p>
        <strong><%= event["name"] %></strong>
        <li class="pb-2" style="list-style:none;"><%= event["location"]["address1"].to_s + ", " + event["location"]["city"].to_s %></li>
        <li class="pb-3" style="list-style:none;"><%= event["description"] %></li>
      </p></small>
      <%#= simple_form_for(@save_event) do |f| %>
        <%# f.input :location, value: event["location"].to_s %>
        <%# f.input :label, value: event["labels"].to_s %>
        <%# f.input :description, value: event["description"].to_s %>
        <%#= f.submit  %>
      <%# end %>
    </div>
  </div>
<% end %>

<!-- Controller -->
<!-- @save_event.user = current_user -->
<!-- @save_event.save -->

