<div class="welcome-card">
	<small style="color: gray;"><%= "discover things to do".upcase %></small>
</div>

<% @events["events"].reverse.each do |event| %>
	<div class="card-deck" style="display: flex;">
		<div class="card">
			<img class="card-img-top pb-3" src=<%= "#{event["image_url"]}" %> alt="Card image cap" style="height: 200px;">
			<small class="pl-2 pr-2">
				<p>
				<strong><%= event["name"] %></strong>
				<li class="pb-2" style="list-style:none;"><%= event["location"]["address1"].to_s + ", " + event["location"]["city"].to_s %></li>
				<li class="pb-3" style="list-style:none;"><%= event["description"] %></li>
			</p></small>
			<%#= simple_form_for(@save_event) do |f| %>
				<%# f.input :location, value: event["location"].to_s %>
				<%# f.input :label, value: event["labels"].to_s %>
				<%# f.input :description, value: event["description"].to_s %>
				<%#= f.submit	 %>
			<%# end %>
		</div>
	</div>
<% end %>

<!-- Controller -->
<!-- @save_event.user = current_user -->
<!-- @save_event.save -->