<% @posts.each do |post| %>
  <div class="post-card">
      <div class="post-info-general">
        <%= link_to post_path(post) do %>
          <div class="user-details">
            <p><strong><%= post.title %></strong></p>
            <p><%= post.user.first_name %> <%= post.user.last_name %></p>
            <p><%= post.created_at.strftime("Posted on %d %b. %Y at %H:%M") %></p>
          </div>
        <% end %>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#"><%= link_to "<i class='fas fa-edit'> Edit</i>".html_safe, edit_post_path(post), data: {toggle: "modal", target: "#exampleModalCenter2-#{post.id}" }%></a>
            <a class="dropdown-item" href="#"><%= link_to "<i class='fas fa-trash-alt'> Delete</i>".html_safe, post_path(post), method: :delete %></a>
          </div>
        </div>
      </div>
      <%= link_to post_path(post) do %>
        <div class="post-image">
          <% if post.photo.attached? %>
            <%= cl_image_tag post.photo.key %>
          <% else %>
            <img src="https://images.pexels.com/photos/235922/pexels-photo-235922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
