
<% if @goals.length >= 1 %>
    <% @goals.each do |g| %>
      <div class="card-product mb-1">
        <% if g.photo.attached? %>
          <%= cl_image_tag g.photo.key %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <% end %>
        <div class="card-product-infos">
          <div class="description">
            <%= g.category %> - <%= g.category_type %>
            <p><%= g.date.strftime(%b %e %y) %></p>
            <small><%= g.note.first(120).to_s %></small>
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#"><%= link_to "<small><i class='fas fa-edit'> EDIT</i></small>".html_safe, edit_goal_path(g) %></a>
                <a class="dropdown-item" href="#"><%= link_to "<small><i class='fas fa-trash-alt'> DELETE</i></small>".html_safe, goal_path(g), method: :delete %></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>
