<div class="bg-light">
  <h1 class="pt-4" style="text-align: center;"><%= @current_user.first_name.to_s + "'s" %><% time = Time.new %> <%= time.strftime("%B").to_s + " Goal" %></h5>
  <div class="ml-3 mr-3">
    <canvas id="myChart" width="400" height="300"
            data-health-done="<%= @health.to_i %>"
            data-health-tobedone="<%= current_user.health_goal.to_i - @health.to_i %>"
            data-exploration-done="<%= @exploration.to_i %>"
            data-exploration-tobedone="<%= current_user.exploration_goal.to_i - @exploration.to_i %>"
            data-relationship-done="<%= @relationship.to_i %>"
            data-relationship-tobedone="<%= current_user.relationships_goal.to_i - @relationship.to_i %>"
            data-total ="<%= ((@health.to_i + @exploration.to_i + @relationship.to_i) / (current_user.health_goal.to_f + current_user.exploration_goal.to_f + current_user.relationships_goal.to_f) * 100).round(0) %>%"
            >
    </canvas>
  </div>
  <div id="activity-feed" class="card pt-3 bg-white">
    <h5 class="text-center"><%= 'activity feed'.upcase %></h5>
    <% if @goals.length >= 1 %>
      <% @goals.reverse.each do |g| %>
        <div class="card-product pl-1 pr-2 bg-white">
          <div class="card-product-infos">
            <div class="description">
              <div class="avatar-name-wrapper align-items-center">
                <% if g.user.photo.attached? %>
                  <%= cl_image_tag g.user.photo.key, class: "user-avatar" %>
                <% else %>
                  <%= image_tag 'avatar.jpg', class: "user-avatar"%>
                <% end %>
                <h3 class="m-0 ml-2"> <%= g.user.first_name%> <%= g.user.last_name%></h3>
              </div>
              <small>
                Logged
                <% if g.category == "Health" %>
                  <i class="fas fa-heartbeat" style="color: #f58226;"></i>
                <% elsif g.category == "Exploration" %>
                  <i class="fas fa-binoculars" style="color: #64c194;"></i>
                <% elsif g.category == "Relationship" %>
                  <i class="fas fa-users" style="color:#5763af;"></i>
                <% end %>
                <%= g.category%> <%= g.category_type.html_safe %>
              </small>
              <p><%= g.note.to_s %></p>
              <h5 class="mt-3"><%= g.date.strftime("Happened on %b. %d %Y") %></h5>
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButtonDashboard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <h6 class="dropdown-item" href="#"><%= link_to "<i class='fas fa-edit'></i> EDIT".html_safe, edit_goal_path(g) %></h6>
                  <h6 class="dropdown-item" href="#"><%= link_to "<i class='fas fa-trash-alt'></i> DELETE".html_safe, goal_path(g), method: :delete %></h6>
                </div>
              </div>
            </div>
          </div>
          <% if g.photo.attached? %>
            <%= cl_image_tag g.photo.key %>
          <% else %>
          <div class="no-image">
          </div>
          <% end %>
        </div>
              <hr>
      <% end %>
    <% else %>
      <div class="jumbotron">
        <h4 class="display-5">Begin your Journey</h4>
        <p class="lead">A lifestyle app where you can set, track and follow your activities. Get inspired by your friends and enrich the experiences of your community  </p>
        <hr class="my-4">
        <p>Start slowly by clicking on +</p>
      </div>
    <% end %>
  </div>
</div>
<%# Goal.where(user: current_user).order(created_at: :desc).first(5)  %>
