<canvas id="myChart" width="400" height="300"
        data-health-done="<%= @health %>"
        data-health-tobedone="<%= current_user.health_goal.to_i - @health.to_i %>"
        data-exploration-done="<%= @exploration %>"
        data-exploration-tobedone="<%= current_user.exploration_goal.to_i - @exploration.to_i %>"
        data-relationship-done="<%= @relationship %>"
        data-relationship-tobedone="<%= current_user.relationships_goal.to_i - @relationship.to_i %>"
        >
</canvas>
<br>
  <% if @goals.length >= 1 %>
    <% @goals.reverse.each do |g| %>
      <div class="card-product">
        <% if g.photo.attached? %>
          <%= cl_image_tag g.photo.key %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <% end %>
        <div class="card-product-infos">
          <div class="description">
            <small><%= g.date %></small>
            <p></p><small><%= g.category %>: <%= g.category_type %></small></p>
            <p><%= g.note.first(120) + "..." %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
