<div class="welcome-card">
<small style="color: gray;"><% time = Time.new %> <%= time.strftime("%B").to_s.upcase + " goals".upcase %></small>
</div>
<div class="ml-4 mr-4">
  <canvas id="myChart" width="400" height="300"
          data-health-done="<%= @health.to_i %>"
          data-health-tobedone="<%= current_user.health_goal.to_i - @health.to_i %>"
          data-exploration-done="<%= @exploration.to_i %>"
          data-exploration-tobedone="<%= current_user.exploration_goal.to_i - @exploration.to_i %>"
          data-relationship-done="<%= @relationship.to_i %>"
          data-relationship-tobedone="<%= current_user.relationships_goal.to_i - @relationship.to_i %>"
          >
  </canvas>
</div>
<div class="welcome-card">
<small style="color: gray;"><%= "activity feed".upcase %></small>
</div>
  <% if @goals.length >= 1 %>
    <% @goals.reverse.each do |g| %>
      <div class="card-product mb-1">
        <% if g.photo.attached? %>
          <%= cl_image_tag g.photo.key %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <% end %>
        <div class="card-product-infos">
          <div class="description">
            <%= g.category %> - <%= g.category_type %>
            <p><%= g.date.strftime("%b %e, %Y") %></p>
            <small><%= g.note.first(120).to_s %></small>
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#"><%= link_to "<small><i class='fas fa-edit'> EDIT</i></small>".html_safe, edit_goal_path(g) %></a>
                <a class="dropdown-item" href="#"><%= link_to "<small><i class='fas fa-trash-alt'> DELETE</i></small>".html_safe, goal_path(g), method: :delete %></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%# Goal.where(user: current_user).order(created_at: :desc).first(5)  %>
