<canvas id="myChart" width="400" height="300"
        data-health-done="<%= @health %>"
        data-health-tobedone="<%= current_user.health_goal - @health %>"
        data-exploration-done="<%= @exploration %>"
        data-exploration-tobedone="<%= current_user.exploration_goal - @exploration %>"
        data-relationship-done="<%= @relationship %>"
        data-relationship-tobedone="<%= current_user.relationships_goal - @relationship %>"
        >
</canvas>
<br>
  <% if @goals.length >= 1 %>
    <% @goals.each do |g| %>
      <div class="card-product">
        <% if g.photo.attached? %>
          <%= cl_image_tag g.photo.first.key %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <% end %>
        <div class="card-product-infos">
          <div class="description">
            <small><%= g.date %></small>
            <h2><%= g.category %></h2>
            <h3><%= g.category_type %></h3>
            <p><%= g.note %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
