<%# header - avatar, 
    settings button (log out, edit monthly goals, ),
    profile description, editable with turbolinks
    monthly goal progression - "Congrats you're 10% of the way through your goals this month"

    body - HER doughnut chart breakdown - by current month,
    total goal points accumulated,
    swipe to see achievements log
%>

<div>
  <div class="profile-banner">
    <%# image-tag %>
    <%= image_tag "avatar", class: "profile-avatar" %>
    <h3><%= @user.first_name %><%= @user.last_name %></h3>
    <%# calculate progression %>
    <%# <p>Congratulations! You are <%= (@user.health_goal + @user.exploration_goal + @user.relationship_goal) </p> %>
    <%# user-description %>
    
    <%# settings button - nav dropdown w/ logout, edit monthly goals, edit photo? %>
  </div>
  <div class="profile-body">
    <div class="profile-progression-achievements">
      <%# goals list %>
      <%= simple_form_for :privatize_all, url: privatize_all_goals_path, method: :patch do |f| %>
        <% @goals.each do |goal| %>
          <div class="goal-details">
            <div class="goal-user-details">
              <div class="goal-user-name">
                <p><%= @user.first_name %><%= @user.last_name %></p>
              </div>
              <p class="goal-info"><%= goal.date.strftime("%d/%B/%Y") %></p>
              <%# goal.title %>
              <p class="goal-info"><%= goal.category %></p>
              <%# goal.note %>
              <p class="goal-info"><%= goal.note %></p>
            </div>
            <div class="goal-privatize">
              <input type="checkbox" value="<%= goal.id %>" name="privatize_goals[goal_ids][]" <%= "checked" if goal.private %>>
            </div>
          </div>
        <% end %>
        <%= f.button :submit, "Hide Posts", class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
