<% if @user == current_user %>
  <%= simple_form_for @user, url: update_path(@user), method: :patch, remote: false do |f|%>
    <div class="profile-banner">
      <div class="profile-avatar">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, class: "profile-img" %>
        <% else %>
          <%= image_tag 'avatar.jpeg', class: "profile-img" %>
        <% end %>
        <%= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: "<i class='fas fa-pen-square edit-img-btn'></i>".html_safe %>
      </div>
      <div class="profile-user">
        <%# settings button - nav dropdown w/ logout, edit monthly goals, edit photo? %>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fal fa-cog"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <span class="dropdown-item edit-profile">Edit Profile</span>
            <%= link_to "Edit Monthly Goals", update_goals_path, class: "dropdown-item"%>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item"%>
          </div>
        </div>
        <h3><%= @user.first_name %> <%= @user.last_name %></h3>
        <div class="parent-note">
          <div class='description-form'>
            <div class="user-note invisible-form">
              <%= f.input :note, placeholder: "Add a note", label: false %>
            </div>
          </div>
          <p class="profile-note"><%= @user.note %></p>
        </div>
        <div class="profile-edit-btn invisible-form">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      </div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Achievements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Blog</a>
        </li>
      </ul>
    </div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <%= render 'user_goals' %>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <%= render 'user_posts' %>
    </div>
  </div>
  <div style="height: 80px">
  </div>
  <% end %>
<% end %>
