<%# header - avatar,
    settings button (log out, edit monthly goals, ),
    profile description, editable with turbolinks
    monthly goal progression - "Congrats you're 10% of the way through your goals this month"

    body - HER doughnut chart breakdown - by current month,
    total goal points accumulated,
    swipe to see achievements log
%>
<div>
  <div class="profile-banner">
    <%= image_tag "avatar", class: "profile-avatar" %>
    <h3><%= @user.first_name %><%= @user.last_name %></h3>
    <%# calculate progression %>
    <%# <p>Congratulations! You are <%= (@user.health_goal + @user.exploration_goal + @user.relationship_goal) </p> %>
    <%# settings button - nav dropdown w/ logout, edit monthly goals, edit photo? %>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fal fa-cog"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item edit-profile" href="#">Edit Profile</a>
        <a class="dropdown-item" href="#">Edit Monthly Goals</a>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item"%>
      </div>
    </div>
  </div>
  <%# user-description %>
  <div class="parent-note">
    <div class='description-form invisible-form'>
      <% if @user == current_user %>
        <%= simple_form_for @user, url: update_path(@user), method: :patch, remote: true do |f|%>
          <%= f.input :note, placeholder: "Add a note", label: false %>
          <%= f.submit %>
        <% end %>
      <% end %>
    </div>
    <p class="profile-note"> <%= @user.note %></p>
  </div>
</div>
<div class="profile-body">
  <div class="profile-progression-achievements">
    <%# goals list %>
    <%= simple_form_for :privatize_all, url: privatize_all_goals_path, method: :patch do |f| %>
      <% @goals.each do |goal| %>
        <div class="goal-details">
          <div class="goal-user-details">
            <div class="goal-user-name">
              <%= link_to profile_path [@goal, @user] do %>
                <p><%= @user.first_name %><%= @user.last_name %></p>
              <% end %>
            </div>
            <%# goal.title %>
            <p class="goal-info category"><%= goal.category %></p>
            <%# goal.note %>
            <p class="goal-info date"><%= goal.date.strftime("%d/%B/%Y") %></p>
            <p class="goal-info note"><%= goal.note %></p>
          </div>
          <div class="goal-privatize">
            <input type="checkbox" value="<%= goal.id %>" name="privatize_goals[goal_ids][]" <%= "checked" if goal.private %>>
          </div>
        </div>
    <% end %>
    <%= f.button :submit, "Hide Posts", class: "btn btn-primary"%>
  <% end %>
</div>
