<% if @user == current_user %>
  <%= simple_form_for @user, url: update_path(@user), method: :patch, remote: true do |f|%>
    <div class="user-profile-banner">
      <div class="profile-avatar">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, class: "profile-img" %>
        <% else %>
          <%= image_tag 'avatar.jpg', class: "profile-img" %>
        <% end %>
        <%= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: "<div class='edit-img-overlay'><i class='fas fa-camera edit-img-btn'></i></div>".html_safe %>
      </div>

      <div class="profile-friends">
        <p>30</p>
        <p>Friends</p>
      </div>
      <div class="profile-followers">
        <p>23</p>
        <p>Followers</p>
      </div>
    </div>

    <div class="profile-user">
      <h4><%= @user.first_name %> <%= @user.last_name %></h4>
      <div class="parent-note">
        <div class='description-form'>
          <div class="user-note invisible-form">
            <%= f.input :note, placeholder: "Add a description", label: false %>
          </div>
        </div>
        <p class="profile-note"><%= @user.note %></p>
      </div>
    </div>
    <div class="profile-edit-btn invisible-form">
      <%= f.submit 'Update', class: 'btn btn-primary profile-btn' %>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Achievements</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Inspiration</a>
      </li>
    
    </ul>

      <div id="activity-feed" class="card pt-3 bg-white">
    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <% if @goals.length >= 1 %>
          <%= render 'user_goals' %>
          <% else %>
            <div class="jumbotron">
              <h4 class="display-5">No activity yet</h4>
              <p class="lead">A lifestyle app where you can set, track and follow your activities. Get inspired by your friends and enrich the experiences of your community  </p>
              <hr class="my-4">
              <p>Log your first goal by clicking on +</p>
            </div>
          <% end %>
        </div>
        
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <% if @posts.length >= 1 %>
          <%= render 'user_posts' %>
          <% else %>
            <div class="jumbotron">
              <h4 class="display-5">No posts yet</h4>
              <p class="lead">A lifestyle app where you can set, track and follow your activities. Get inspired by your friends and enrich the experiences of your community  </p>
              <hr class="my-4">
              <p>Start slowly by clicking on +</p>
            </div>
          <% end %>
          <%= render 'user_posts' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
