<%# header - avatar, 
    settings button (log out, edit monthly goals, ),
    profile description, editable with turbolinks
    monthly goal progression - "Congrats you're 10% of the way through your goals this month"

    body - HER doughnut chart breakdown - by current month,
    total goal points accumulated,
    swipe to see achievements log
%>

<script>
  const description = document.querySelector(".profile-note");
  const descriptionForm = document.querySelector(".description-form invisible");
  description.addEventListener("touchend", (e) => {
    descriptionForm.classList.toggle("invisible")
  })
</script>

<div>
  <div class="profile-banner">
    <%= image_tag "avatar", class: "profile-avatar" %>
    <h3><%= @user.first_name %><%= @user.last_name %></h3>
    <%# calculate progression %>
    <%# <p>Congratulations! You are <%= (@user.health_goal + @user.exploration_goal + @user.relationship_goal) </p> %>
    <%# user-description %>
    
    <%# image-tag %>
    <%# settings button - nav dropdown w/ logout, edit monthly goals, edit photo? %>
    <% if @user == current_user %>
      <%= simple_form_for @user, url: update_path(@user), method: :patch, remote: true, class: "description-form invisible" do |f|%>
        <%= f.input :note, placeholder: "Add a note", label: false %>
        <%= f.submit %>
      <% end %>
    <% end %>
    <p class="profile-note"> <%= @user.note %></p>
  </div>
  <div class="profile-body">
    <div class="profile-progression-achievements">
      <%# goals list %>
      <%= simple_form_for :privatize_all, url: privatize_all_goals_path, method: :patch do |f| %>
        <% @goals.each do |goal| %>
          <div class="goal-details">
            <div class="goal-user-details">
              <div class="goal-user-name">
                <% link_to profile_path(@user) do %>
                  <p><%= @user.first_name %><%= @user.last_name %></p>
                <% end %>
              </div>
              <%# goal.title %>
              <p class="goal-info category"><%= goal.category %></p>
              <%# goal.note %>
              <p class="goal-info date"><%= goal.date.strftime("%d/%B/%Y") %></p>
              <p class="goal-info note"><%= goal.note %></p>
            </div>
            <div class="goal-privatize">
              <input type="checkbox" value="<%= goal.id %>" name="privatize_goals[goal_ids][]" <%= "checked" if goal.private %>>
            </div>
          </div>
        <% end %>
        <%= f.button :submit, "Hide Posts", class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
