<div class="welcome-card">
  <small style="color: gray;"><% time = Time.new %> <%=  "#{time.strftime('%B')}".upcase + " goals".upcase %></small>
</div>
<div class="welcome-card mb-5">
  <p>📌 Set a number of goals you want to complete from each category.</p>
</div>
<div class="goal-format">
    <h6>Set <%=time.strftime('%B')%> Goals</h6>
    <div class="slidecontainer">
      <h4><i class="fas fa-heartbeat"></i> Health</h4>
          <input type="range" min="1" max="10" value="<%= current_user.health_goal || 1 %>" class="slider" id="myRange-h">
          <p id="demo-h"></p>
          <script>
            var slider = document.getElementById("myRange-h");
            var outputH = document.getElementById("demo-h");
            outputH.innerHTML = slider.value; // Display the default slider value

            // Update the current slider value (each time you drag the slider handle)
            slider.oninput = function() {
              outputH.innerHTML = this.value;
              document.getElementById("goals_health").value = this.value
            }
          </script>
    </div>

    <div class="slidecontainer">
      <h4><i class="fas fa-binoculars"></i> Exploration</h4>
      <input type="range" min="1" max="10" value="<%= current_user.exploration_goal || 1 %>" class="slider" id="myRange-e">
      <p id="demo-e"></p>
      <script>
        var slider = document.getElementById("myRange-e");
        var outputE = document.getElementById("demo-e");
        outputE.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function() {
          outputE.innerHTML = this.value;
          document.getElementById("goals_explore").value = this.value
        }
      </script>

    </div>

    <div class="slidecontainer">
      <h4><i class="fas fa-users"></i> Relationship</h4>
      <input type="range" min="1" max="10" value="<%= current_user.relationships_goal || 1 %>" class="slider" id="myRange-r">
      <p id="demo-r"></p>
      <script>
        var slider = document.getElementById("myRange-r");
        var outputR = document.getElementById("demo-r");
        outputR.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function() {
          outputR.innerHTML = this.value;
          document.getElementById("goals_relationship").value = this.value
        }
      </script>

      <%= simple_form_for :goals, url: set_goals_path, method: :patch do |f| %>
          <%= f.input :health, as: :hidden, input_html: { value: current_user.health_goal || 1 } %>
          <%= f.input :explore, as: :hidden, input_html: { value: (current_user.exploration_goal || 1)  } %>
          <%= f.input :relationship, as: :hidden, input_html: { value: (current_user.relationships_goal || 1) } %>
          <%= f.submit :save, value:'Save', class: "btn-block btn-secondary" %>
      <% end %>

    </div>
</div>
