<div class="page-header" id="myHeader">
  <a class="header-brand" href="#" style="text-decoration: none!important; color: #ffffff; align:center;">
    <%= image_tag("hergi_official_logo.png", height: '32', width: '10', alt: "hergi") %>
    hergi
  </a>
  <%# settings button - nav dropdown w/ logout, edit monthly goals, edit photo? %>
  <% if user_signed_in? == true %>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <p class="dropdown-item fullname"><%= current_user.first_name %>  <%= current_user.last_name %></p>
        <%= link_to 'Saved Events', saved_events_path, class: "dropdown-item" %>
        <% if params[:controller] == 'users' && params[:action] == 'profile' %>
          <span class="dropdown-item edit-profile">Edit Profile</span>
        <% end %>
        <%= link_to "Edit Monthly Goals", update_goals_path, class: "dropdown-item" %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
  <% end %>
</div>
