<!--  <div class="my-navbar"> -->
	<div class="navbar">
  <%= active_link_to "<i class='fas fa-home'></i><br>Home".html_safe, root_path, active: :exact %>
  <%= active_link_to "<i class='fas fa-search-location'></i><br>Discover".html_safe, discovers_path, active: :exact %>
  <div class="dropup">
    <button class="dropbtn menu-trigger">
      <i class="fas fa-plus"></i>
    </button>
    <div class="menu-dropdown">
      <div class="menu-items">
        <% Goal::CATEGORIES.each_with_index do |category, idx| %>
          <%= active_link_to "#{category[:icon]} #{category[:category]}".html_safe, new_goal_path(category: category[:category]), class: "menu-transition-item menu-#{idx}" %>
        <% end %>
        <a type="button" id="open-menu" class="menu-transition-item menu-3" data-toggle="modal" data-target="#exampleModalCenter">
          <i class="fas fa-pencil-alt"></i> Inspire
        </a>
      </div>
    </div>
<!-- Button trigger modal -->
  </div>
  <%= active_link_to "<i class='fas fa-lightbulb'></i><br>Inspire".html_safe, posts_path, active: :exact %>
  <% if current_user %>
    <%= active_link_to "<i class='fas fa-user'></i><br>Profile".html_safe, profile_path(current_user), active: :exact %>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Go inspire</h5>
              <div class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </div>
            </div>
            <div class="modal-body">
              <%= render "posts/form", post: Post.new %>
            </div>
          </div>
        </div>
      </div>
