<div class="my-navbar">
  <%= active_link_to "<i class='fas fa-home'></i>Home".html_safe, root_path, active: :exact %>
  <%= active_link_to "<i class='fas fa-search-location'></i>Discover".html_safe, root_path, active: :exact %>
  <%= active_link_to "<i class='fas fa-plus'></i> ".html_safe, new_goal_path, active: :exact %>
  <%= active_link_to "<i class='fas fa-lightbulb'></i>Inspire".html_safe, posts_path, active: :exact %>
  <%= active_link_to "<i class='fas fa-user'></i>Profile".html_safe, root_path, active: :exact %>
</div>

<div class="container">
  <% Goal::CATEGORIES.each do |category| %>
  <%= active_link_to category[:category], new_goal_path(category: category[:category]) %>
  <% end %>
</div>

