  <div class="homepage-carousel">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item h-100 active">
          <%= image_tag "image1.jpeg", class: "h-100"  %>
        </div>
        <div class="carousel-item h-100">
          <%= image_tag "image2.jpeg", class: "h-100" %>
        </div>
        <div class="carousel-item h-100">
          <%= image_tag "image3.jpeg", class: "h-100" %>
        </div>
      </div>
    </div>
    <div class ="title-hergi">
      <h1>Hergi</h1>
    </div>
    <div class="homepage-info">
      <h2>Hello there!</h2>
        <p>You are a few steps away from starting your journey of self-development</p>
    </div>
  </div>
  <div class="sign-in-up">
      <button type="button" class="btn btn-primary btn-lg btn-block btn-homepage" id="fb"><i class="fab fa-facebook-f"></i> Continue with Facebook</button>
      <button type="button" class="btn btn-light btn-lg btn-block btn-homepage" id="google"><i class="fab fa-google"></i> Continue with Google</button>
      <%= link_to "<i class="far fa-envelope"></i>Sign Up with Email".html_safe, new_user_registration_path, class: "btn btn-light btn-lg btn-block btn-homepage"  %>
    </div>
      <center><small>Already have an account? <span><%= link_to "Log in", user_session_path%></span></small></center>
  </div>





