<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Create a Post
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Share your story.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "form", post: @post, remote: true %>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<% @posts.each do |post| %>

  <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit post.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render "form", post: post, remote: true %>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

  <div class="post-card">
    <%= link_to "click me", post_path(post)%>
    <div class="post-info-general">
        <img class="user-avatar" src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
      <div class="user-details">
        <p><strong><%= post.title %></strong></p>
        <p><%= post.user.first_name %> <%= post.user.last_name %></p>
        <p><%= post.created_at.strftime("Posted on %d %b. %Y at %H:%M") %></p>
      </div>
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#"><%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_post_path(post), data: {toggle: "modal", target: "#exampleModalCenter2" } %> Edit</a>
          <a class="dropdown-item" href="#"><%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, post_path(post), method: :delete %> Delete</a>
        </div>
      </div>
    </div>
    <div class="post-image">
      <% if post.photo.attached? %>
        <%= cl_image_tag post.photo.key %>
      <% else %>
        <img src="https://images.pexels.com/photos/235922/pexels-photo-235922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
      <% end %>
    </div>
  </div>
<% end %>


