<div class="welcome-card">
<small style="color: gray;"><%= "get inspired & go inspire".upcase %></small>
</div>

<% @posts.each do |post| %>

  <div class="modal fade" id="exampleModalCenter2-<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit post.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render "form", post: post, remote: true %>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <div class="post-card">
    <div class="post-info-general">
      <% if post.user.photo.attached? %>
        <%= cl_image_tag post.user.photo.key, class: "user-avatar" %>
      <% else %>
        <%= image_tag 'avatar.jpeg', class: "user-avatar"%>
      <% end %>
      <%= link_to post_path(post) do %>
        <div class="user-details">
          <p><strong><%= post.title %></strong></p>
          <p><%= post.user.first_name %> <%= post.user.last_name %></p>
          <p><%= post.created_at.strftime("%b %e, %Y") %></p>
        </div>
      <% end %>
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#"><%= link_to "<small><i class='fas fa-edit'> EDIT</i></small>".html_safe, edit_post_path(post), data: {toggle: "modal", target: "#exampleModalCenter2-#{post.id}" }%></a>
          <a class="dropdown-item" href="#"><%= link_to "<small><i class='fas fa-trash-alt'> DELETE</i></small>".html_safe, post_path(post), method: :delete %></a>
        </div>
      </div>
    </div>
    <%= link_to post_path(post) do %>
      <div class="post-image">
        <% if post.photo.attached? %>
          <%= cl_image_tag post.photo.key %>
        <% else %>
          <img src="https://images.pexels.com/photos/235922/pexels-photo-235922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
        <% end %>
      </div>
    <% end %>
  <div class="comment-teaser">
    <small style="color: gray;">
      <i class='far fa-comments'>
        <% if post.comments.count.zero? %>
          <%= "no comments".upcase %>
         <% else %>
          <%= pluralize(post.comments.count, "comment") %>
        <% end %>
      </i>
    </small>
  </div>
  </div>
<% end %>


