<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hergi | Get inspired.</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div data-role="page" data-ajax="false">
      <div role="main" class="ui-content" data-ajax="false">
      <%= render 'shared/flashes' %>
      <%= yield %>
      </div>
      <div data-role="footer" data-ajax="false">
        <%= render 'shared/navbar' %>
      </div>
      <%= javascript_pack_tag 'application' %>
    </div>
  </body>
</html>
