<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hergi | Get inspired.</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <% if params[:controller] == 'pages' && params[:action] == 'home' %>
      <%= yield %>
    <% elsif params[:controller] == 'users' && params[:action] == 'profile' %>
      <%= yield %>
      <%= render 'shared/navbar' %>
    <% else %>
      <div class="container pt-4">
        <%= yield %>
        <%= render 'shared/navbar' %>
      </div>
    <% end %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
