<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hergi | Get inspired & go inspire</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta property="og:hergi" content="Get inspired & go inspire">
    <meta property="og:description" content="A lifestyle app for personal growth and development">
    <meta property="og:image" content="https://images.unsplash.com/photo-1505778276668-26b3ff7af103?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2086&q=80">
    <meta property="og:url" content="http://www.hergi.co.uk/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <% if params[:controller] == 'pages' && params[:action] == 'home' %>
      <%= yield %>
    <% elsif params[:controller] == 'users' && params[:action] == 'profile' %>
      <%= render 'shared/header' %>
      <div style="height: 70px;"></div>
      <%= yield %>
      <%= render 'shared/navbar' %>
    <% else %>
      <%= render 'shared/header' %>
      <div style="height: 70px;"></div>
    <div class="page-content" style="min-height: calc(100vh - 76px);">
      <%= yield %>
    </div>
    <div class="nav">
      <div style="height: 76px;">
        <%= render 'shared/navbar' %>
     </div>
     </div>
    <% end %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
