<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="application-name" content="hergi">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= render 'application/favicon' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:hergi" content="Get inspired & go inspire">
    <meta property="og:description" content="A lifestyle app for personal growth and development">
    <meta property="og:image" content="https://images.unsplash.com/photo-1505778276668-26b3ff7af103?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2086&q=80">
    <meta property="og:url" content="http://www.hergi.co.uk/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <% if params[:controller] == 'pages' && params[:action] == 'home' %>
      <%= yield %>
    <% elsif  params[:controller] == 'users' && params[:action] == 'update_goals_number' && current_user.health_goal.nil? && current_user.exploration_goal.nil? && current_user.relationships_goal.nil? %>
      <%= yield %>
    <% elsif params[:controller] == 'users' && params[:action] == 'profile' %>
      <%= render 'shared/header' %>
      <div style="height: 46px;"></div>
      <%= yield %>
      <%= render 'shared/navbar' %>
    <% else %>
      <%= render 'shared/header' %>
      <div style="height: 46px;"></div>
      <div class="page-content" style="min-height: calc(100vh - 76px);">
        <%= yield %>
      </div>
      <% if user_signed_in? == true %>
      <div class="nav">
        <div style="height: 76px;">
          <%= render 'shared/navbar' %>
        </div>
      </div>
      <% end %>
    <% end %>
  </body>
</html>
